/mooc-java-programming-i/part06-Part06_01.Menu/target/
/mooc-java-programming-i/part06-Part06_02.Stack/target/
/mooc-java-programming-i/part06-Part06_03.MessagingService/target/
/mooc-java-programming-i/part06-Part06_04.PrintingACollection/target/
/mooc-java-programming-i/part06-Part06_05.SantasWorkshop/target/
/mooc-java-programming-i/part06-Part06_06.LongestInCollection/target/
/mooc-java-programming-i/part06-Part06_07.HeightOrder/target/
/mooc-java-programming-i/part06-Part06_08.CargoHold/target/
/mooc-java-programming-i/part06-Part06_09.SimpleDictionary/target/
/mooc-java-programming-i/part06-Part06_10.TodoList/target/
/mooc-java-programming-i/part06-Part06_11.Averages/target/
/mooc-java-programming-i/part06-Part06_12.JokeManager/target/
/mooc-java-programming-i/part06-Part06_13.Exercises/target/
/mooc-java-programming-i/part07-Part07_01.LiquidContainers/target/
/mooc-java-programming-i/part07-Part07_02.LiquidContainers2/target/
/mooc-java-programming-i/part07-Part07_03.Sorting/target/
/mooc-java-programming-i/part07-Part07_04.ReadymadeSortingAlgorithms/target/
/mooc-java-programming-i/part07-Part07_05.Searching/target/
/mooc-java-programming-i/part07-Part07_06.GradeStatistics/target/
/mooc-java-programming-i/part07-Part07_07.RecipeSearch/target/
/mooc-java-programming-i/part07-Part07_08.BigYear/target/
/mooc-java-programming-ii/part08-Part08_03.LiquidContainers/target/
/mooc-java-programming-ii/part08-Part08_04.LiquidContainers2/target/
/mooc-java-programming-ii/part08-Part08_05.TodoList/target/
/mooc-java-programming-ii/part08-Part08_06.Nicknames/target/
/mooc-java-programming-ii/part08-Part08_07.Abbreviations/target/
/mooc-java-programming-ii/part08-Part08_08.PrintMeMyHashmap/target/
/mooc-java-programming-ii/part08-Part08_09.PrintMeAnotherHashmap/target/
/mooc-java-programming-ii/part08-Part08_11.SameDate/target/
/mooc-java-programming-ii/part08-Part08_13.VehicleRegistry/target/
/mooc-java-programming-ii/part08-Part08_14.DictionaryOfManyTranslations/target/
/mooc-java-programming-ii/part08-Part08_15.StorageFacility/target/
/mooc-java-programming-ii/part09-Part09_01.ABC/target/
/mooc-java-programming-ii/part09-Part09_02.PersonAndSubclasses/target/
/mooc-java-programming-ii/part09-Part09_03.Warehousing/target/
/mooc-java-programming-ii/part09-Part09_04.DifferentKindsOfBoxes/target/
/mooc-java-programming-ii/part09-Part09_05.TacoBoxes/target/
/mooc-java-programming-ii/part09-Part09_06.InterfaceInABox/target/
/mooc-java-programming-ii/part09-Part09_07.ListAsAMethodParameter/target/
/mooc-java-programming-ii/part09-Part09_08.MapAsAMethodParameter/target/
/mooc-java-programming-ii/part09-Part09_09.SetAsMethodParameter/target/
/mooc-java-programming-ii/part09-Part09_10.OnlineShop/target/
/mooc-java-programming-ii/part09-Part09_11.Herds/target/
/mooc-java-programming-ii/part09-Part09_12.Animals/target/
/mooc-java-programming-ii/part10-Part10_01.AverageOfNumbers/target/
/mooc-java-programming-ii/part10-Part10_02.AverageOfSelectedNumbers/target/
/mooc-java-programming-ii/part10-Part10_04.Divisible/target/
/mooc-java-programming-ii/part10-Part10_05.PrintingUserInput/target/
/mooc-java-programming-ii/part10-Part10_06.LimitedNumbers/target/
/mooc-java-programming-ii/part10-Part10_07.UniqueLastNames/target/
/mooc-java-programming-ii/part10-Part10_08.Weighting/target/
/mooc-java-programming-ii/part10-Part10_09.ReadingFilesPerLine/target/
/mooc-java-programming-ii/part10-Part10_10.BooksFromFile/target/
/mooc-java-programming-ii/part10-Part10_11.WageOrder/target/
/mooc-java-programming-ii/part10-Part10_12.StudentsOnAlphabeticalOrder/target/
/mooc-java-programming-ii/part10-Part10_13.LiteracyComparison/target/
/mooc-java-programming-ii/part10-Part10_14.Literature/target/
/mooc-java-programming-ii/part10-Part10_15.RegularExpressions/target/
/mooc-java-programming-ii/part10-Part10_16.EnumAndIterator/target/
/mooc-java-programming-ii/part10-Part10_17.SortThemCards/target/