/mooc-java-programming-i/part06-Part06_01.Menu/target/
/mooc-java-programming-i/part06-Part06_02.Stack/target/
/mooc-java-programming-i/part06-Part06_03.MessagingService/target/
/mooc-java-programming-i/part06-Part06_04.PrintingACollection/target/
/mooc-java-programming-i/part06-Part06_05.SantasWorkshop/target/
/mooc-java-programming-i/part06-Part06_06.LongestInCollection/target/
/mooc-java-programming-i/part06-Part06_07.HeightOrder/target/
/mooc-java-programming-i/part06-Part06_08.CargoHold/target/